.text-center {
  text-align: center;

  background: #FFFFFF;
  border: 1px solid #D7DADE;
  border-radius: 5px;
}

.container {
  width: 70vw;
}

.transcipts {
  margin-top: 25px;
  text-align: justify;
  margin-left: 30%;
}

.cust {
  color: #EE6EFF;
}

.rep {
  color: #00A7D1
}

@media only screen and (min-width: 992px) {
    .text-center{
        text-align: center;
        background: #FFFFFF;
        border: 1px solid #D7DADE;
        border-radius: 5px;
        margin-left: 20%;
        margin-right: 20%;
    }
}
