.text-center {
  text-align: center;
  background-color: #fff;
  border: 1px solid black;
}

.container {
  width: 70vw;
}

.transcipts {
  margin-top: 25px;
  text-align: justify;
  margin-left: 30%;
}

.cust {
  color: #EE6EFF;
}

.rep {
  color: #00A7D1
}
